SetEnv PHP_VER 5_TEST
SetEnv SESSION_USE_TRANS_SID 0

Options +FollowSymlinks
RewriteEngine On

RewriteRule ^Page.(.+).html index.php?page=Page&name=$1 [L,QSA]

RewriteRule ^(.+).html(.*) index.php?page=$1$2 [L,QSA]

<Files config.ini>
deny from all
</Files>